.crm-entity-widget-client-box-preferences,
.crm-entity-widget-client-contact{
    display: flex;
    flex-wrap: wrap;
    gap: 2px 6px;
}

.crm-entity-widget-client-box-quiz-fields{
    margin: 6px 0 20px!important;
    gap: 0 10px!important;
}

.edit-contact{
    cursor: pointer;
}

.crm-entity-widget-client-box-position{
    margin: 0 0 6px!important;
}
.refloor-contacts {
    background: #ffffff;
    padding: 6px;
    border-radius: 6px;
    border: #f1f1f1 1px solid;
}
.refloor-contact-block {
    margin-bottom: 16px;
}
.refloor-comments {
    font-size: 11px;
    line-height: 1.1;
    padding: 4px 0;
    color: #868b93;
}
.refloor-contact-property {
    font-size: 11px !important;
    font-weight: 400 !important;
}

.add-contact-button{
    cursor: pointer;
}