.contact-promo-preview-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-promo-preview-list-item{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.contact-promo-preview-list-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}