body{
    background-color: lightgray!important;
}

.ui-form{
    height: 100%;
}

.ui-form-buttons{
    margin-top: auto;
    display: flex;
    gap: 8px;
}

.ui-form-title{
    font-size: inherit;
}