.promo-list {
    display: flex!important;
    flex-direction: column;
    gap: 2px;
    /*max-height: 400px;*/
    /*overflow-y: auto;*/
}

.promo-list-item {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: stretch;
    align-items: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    transition: background .3s;
    cursor: pointer;
}


.promo-list-item--selected {
    background-color: #eee;
}

.promo-list-item-name {
    padding-left: 10px;
    flex: 1 1;
    font-weight: 500;
}

.promo-list-item-photo {
    flex: none;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 70px;
    border-radius: 4px;
    overflow: hidden;
}

.promo-list-item-photo img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

